In [6]:
if 6<5:
    print("yes")
else:
    print("no")

no

In [12]:
if ("happy"=="happy") or ("das"=="sad"):
    print("hahhaha")

hahhaha

In [27]:
us1="admin"
ps1="admin"
usr=input("Enter your userid")
pwd=input("Enter your password")

if us1 == usr and ps1 == pwd:
    print("login succesful")
else:
    print("access denied!!!!!!")

Enter your userid admin
Enter your password admin

login succesful

In [16]:
a=3
b=4
c=1

if a>b:
    if a>c:
        print("a greater")
elif b>c:
    print("b is greater")
else:
    print("c is greater")

78

In [54]:
l=50
for i in range(1,50):
    print(50-i)

49
48
47
46
45
44
43
42
41
40
39
38
37
36
35
34
33
32
31
30
29
28
27
26
25
24
23
22
21
20
19
18
17
16
15
14
13
12
11
10
9
8
7
6
5
4
3
2
1

In [56]:
l=0
while l<10:
    print("hi")
    l=l+1

hi
hi
hi
hi
hi
hi
hi
hi
hi
hi

In [ ]:
    *
   **
  ***
 ****
*****

In [57]:
for i in range(1,6):
    print("*"*i)

*
**
***
****
*****

In [1]:
l=1
while l<=5:
    print("*"*l)
    l+=1

*
**
***
****
*****

In [ ]:
*******
 *****
  ***
   *

In [ ]:
*     *
*     *
*******
*     *
*     *

In [9]:
for row in range(1,6):
    for col in range(1,8):
        if col==1 or col==7 or row==3:
            print("*",end="")
        else:
            print(" ", end="")
    print()

*     *
*     *
*******
*     *
*     *

In [17]:
for row in range(1,6):
    if row==3:
        print("*"*7)
    else:
        print("*"+" "*5+"*")

*     *
*     *
*******
*     *
*     *

In [16]:
for i in range(1,6):
    if i==3:
        print("*"*7)
        continue
    print("*",end='')
    print(" "*5,end='')
    print("*")

*     *
*     *
*******
*     *
*     *

In [19]:
i=0
space=7
while i<5:
    if i==2:
        print((space-2)*"*")
    else:
        print("*"+(space-4)*" "+"*")
    i+=1

*   *
*   *
*****
*   *
*   *

In [ ]:
*     *
* *   *
*  *  *
*   * *
*     *

In [22]:
for row in range(1,6):
    for col in range(1,8):
        if col==1 or col==5 or row==col:
            print("*",end="")
        else:
            print(" ", end="")
    print()

*   *
**  *
* * *
*  **
*   *

tuple
list
dictionary

In [2]:
var=("hi",9878,True,89.9090909090)

In [3]:
var[0]

'hi'

In [5]:
var[1]

9878

In [6]:
#slicing
var[1:3]

(9878, True)

In [8]:
var[0]="hello"

TypeError: 'tuple' object does not support item assignment

In [9]:
var2=["hi","hello",9812,899.9090]

In [13]:
dir(var2)

['__add__',
 '__class__',
 '__contains__',
 '__delattr__',
 '__delitem__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__gt__',
 '__hash__',
 '__iadd__',
 '__imul__',
 '__init__',
 '__init_subclass__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__mul__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__reversed__',
 '__rmul__',
 '__setattr__',
 '__setitem__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'append',
 'clear',
 'copy',
 'count',
 'extend',
 'index',
 'insert',
 'pop',
 'remove',
 'reverse',
 'sort']

In [16]:
var2.append("hello india")

In [17]:
rt=var2.copy()

['hi', 'hello', 9812, 899.909, 'hello india']

In [20]:
var2.append("hi")

In [21]:
var2

['hi', 'hello', 9812, 899.909, 'hello india', 'hi']

In [24]:
list2=[90,90,67,90]

In [26]:
var2.extend(list2)

In [27]:
var2

['hi', 'hello', 9812, 899.909, 'hello india', 'hi', 90, 90, 67, 90]

In [28]:
var2.insert(0,9876543)

In [29]:
var2

[9876543, 'hi', 'hello', 9812, 899.909, 'hello india', 'hi', 90, 90, 67, 90]

In [30]:
var2.pop()

90

In [31]:
var2

[9876543, 'hi', 'hello', 9812, 899.909, 'hello india', 'hi', 90, 90, 67]

In [33]:
var2.remove('hi')

In [34]:
var2

[9876543, 'hello', 9812, 899.909, 'hello india', 'hi', 90, 90, 67]

In [35]:
var2.reverse()

In [36]:
var2

[67, 90, 90, 'hi', 'hello india', 899.909, 9812, 'hello', 9876543]

In [38]:
list2.sort()

In [39]:
list2

[67, 90, 90, 90]

In [40]:
var4={}

In [41]:
type(var4)

dict

In [42]:
var4["name"]="ironman"

In [43]:
var4

{'name': 'ironman'}

In [44]:
var4['name']

'ironman'

In [45]:
var4['name']='spiderman'

In [48]:
var4={"gaurav":{"college":"poornima",
                "course":"b.tech",
                "year":"3rd"},
     "rani":}

In [53]:
data={}

In [56]:
name=input("ENtery your name")
col=input("ENtery your class")
course=input("ENtery your course")
year=input("ENtery your year")

data[name]={"college":col,
           "course":course,
           "year":year}

ENtery your name hj
ENtery your class kjhasd
ENtery your course asdkjasd
ENtery your year asdas

In [57]:
data

{'nj': {'college': 'kjahskd', 'course': 'sdfdsf', 'year': 'sdf'},
 'hj': {'college': 'kjhasd', 'course': 'asdkjasd', 'year': 'asdas'}}

#coditional
if else
while
#loop
for
while

In [59]:
if 1>2:
    print("yes")
else:
    print("no")

no

In [63]:
for i in range(10):
    print(i,end=' ')

0 1 2 3 4 5 6 7 8 9

In [65]:
jk="hi i am ram"
for t in jk:
    print(t)

h
i

i

a
m

r
a
m

In [66]:
gh={"name":"poiewrwq",
   "hjga":"oiuwoeirw"}

In [70]:
for k,g in gh.items():
    print(k)
    print(g)

name
poiewrwq
hjga
oiuwoeirw

In [71]:
op=[90,90,67,78]

In [74]:
for i,a in enumerate(op):
    print(a)

90
90
67
78

In [75]:
for i in range(10):
    for j in range(10):
        print("hi",end='')

hihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihi

In [79]:
for i in range(100,10,-1):
    print(i)

100
99
98
97
96
95
94
93
92
91
90
89
88
87
86
85
84
83
82
81
80
79
78
77
76
75
74
73
72
71
70
69
68
67
66
65
64
63
62
61
60
59
58
57
56
55
54
53
52
51
50
49
48
47
46
45
44
43
42
41
40
39
38
37
36
35
34
33
32
31
30
29
28
27
26
25
24
23
22
21
20
19
18
17
16
15
14
13
12
11

In [ ]:
*
**
***
****
*****


    *
   **
  ***
 ****
*****

*    *
*    *
******
*    *
*    *

********** 
*       *
*      *
*     *
******

In [82]:
for row in range(5):
    for col in range(6):
        if col==0 or col==5 or row==2:
            print("*",end='')
        else:
            print(" ",end='')
    print()

*    *
*    *
******
*    *
*    *

In [84]:
i=0
while i<2:
    print("hi")
    i+=1

hi
hi

In [4]:
var={"name":"lco","place":"jaipur"}

In [5]:
var['place']

'jaipur'

In [6]:
type(var)

dict

In [8]:
p=("jdskf",908,90.78,True)

In [12]:
def printlco():
    for df in range(10):
        print("lco")

lco
lco
lco
lco
lco
lco
lco
lco
lco
lco